/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 100vh;
}
html {
  scroll-behavior: smooth;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
span{
    color: #31b816;
}
.flex{
    display: flex;
}

button{
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #31b816;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 8px #777c43;
}
h2{
    font-size: 38px;
    text-align: center;
} 
/* fim geral */

                                      /* responsividade */
                            @media screen and (max-width:1020px) {
                            /* classes gerais */
                                .flex{
                                    flex-direction: column-reverse;
                                }
                                main .especialidades .interface .titulo{
                                    font-size: 34px;
                                    line-height: 30px;
                                }
                            /* fim classes gerais */
                            /* cabeçalho */
                                header .interface .menu-desktop, .btn-contacto{
                                    display: none;
                                }
                            /* fim cabeçalho */
                            /* topo do site */
                                main .topo-do-site{
                                padding: 1px 8%;
                            }
                                main .topo-do-site .interface .flex{
                                    gap: 40px;
                                }
                                main .topo-do-site .interface .flex .txt-topo-site h1{
                                font-size: 40px;
                            }
                            /* fim topo do site */
                            /* especialidades */
                            main .especialidades .interface .flex .especialidades-box{
                                padding: 40px 8%;
                            }
                            /* fim especialidades */
                            /* sobre */
                            main .sobre{
                                padding: 80px 8%;
                            }
                            main .sobre .txt-sobre h2{
                                font-size: 34px;
                                line-height: 35px;
                            }
                            main .sobre .interface .flex .img-sobre{
                                margin: 0 auto;
                                
                            }
                            /* fim sobre */
                            /* portifolio */
                            main .portifolio{
                                padding: 80px 8%;
                            }
                            main .portifolio .img-port{
                            margin: 0 auto;
                            }
                            /* fim portifolio */
                            }
                            /* fim responsividade */

/* cabeçalho */
img{
    background-color: #fff;
    width: 120px;
}
header{
    padding: 40px 4%;
}
/* logo flutuar */
@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
}
/* fim logo flutuar */
header .interface .logo .imglogo{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
header .interface .logo .imglogo{
    width: 80px;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .interface .btn-contacto{
    transition: 0.2s;
}
header .interface .btn-contacto:hover{
    transform: scale(1.05);
    color: black
}
header a{
    text-decoration: none;
}
header .interface .overlay-menu{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888888;
    display: none;
}
header .interface .menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
header .interface .btn-abrir-menu{
    cursor: pointer;
}
header .interface .btn-abrir-menu img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
header .interface .menu-mobile{
    background-color: rgb(116, 111, 111);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
header .interface .menu-mobile.abrir-menu{
        width: 70%;
} 
header .interface .menu-mobile .btn-fechar img{
     width: 20px;
     height: 20px;
    background-color: rgb(116, 111, 111);
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
header .interface .menu-mobile nav ul{
    text-align: right;
    display: flex;
    flex-direction: column;
}
header .interface .menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
header .interface .menu-mobile nav ul li a:hover{
    background-color: #31b816;
}
/* fim cabeçalho */

/* corpo do site */
main{
     padding-left: 50px;
}
main a{
    color: rgb(129, 68, 68);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
main a:hover{
        color: black;
        transform: scale(1.03);
}
/* distanciar section */
main .topo-do-site{
    padding-top: 20px;
}
main .especialidades{
    padding-top: 78px;
}
main .sobre{
    padding-top: 77px;
}
main .portifolio{
    padding-top: 70px;
}
main .formulario{
    padding-top: 83px;
}
/* fim distanciar section */
section .topo-do-site{
    padding: 40px 4%;
}
section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
}
.topo-do-site h1{
    font-size: 42px;
    line-height: 40px;
}
section .img-topo-site img{
    width: 196px;
    height: 240px;
    border-radius: 100%;
}
.topo-do-site .txt-topo-site p{
    margin: 20px 0px;
}

.especialidades-box{
    padding: 23px;
    border: 2px solid rgb(197, 193, 193);
    margin-right: 30px;  
    transition: .2s; 
    border-radius: 20px;
}
.especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgb(138, 120, 120);
}
.especialidades .interface .flex .especialidades-box img{ 
    width: 40px;
}
.center-box{
    padding-top: 60px;
}
.especialidades .interface .flex .especialidades-box{ 
    text-align: center;
}
.especialidades ,.interface .flex .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}
.especialidades ,.interface .flex .especialidades-box p{
    font-size: 19px;
}
section .interface .flex{   
    justify-content: center;
    padding-top: 20px;
}

section .interface .flex .img-sobre img{
    width: 196px;
    height: 257px;
    border-radius: 100%;
}

section .flex{   
    gap: 80px;
}
.txt-portifolio{
    text-align: center;
}
.txt-portifolio {
    margin-top: 20px;
    color: grey;
}

form{
    max-width: 500px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}
form{
    padding-right: 60px;
}
main .formulario .interface h2{
    padding-right: 50px;
}
form input{
    width: 100%;
    background-color: rgba(180, 168, 168, 0.185);
    border: 1px solid rgb(66, 62, 62);
    outline: 0;
    padding: 20px 15px;
    color: black;
    border-radius: 15px;
    font-size: 18px;
}
form input::placeholder{
    color: rgb(128, 127, 127);
}
form .btn-enviar button{
    margin-top: 10px;
    transition: .2s;
}
form .btn-enviar{
    text-align: center;
}
form .btn-enviar button:hover{
    transform: scale(1.03);
    cursor: pointer;
}
/* fim corpo do site */